<%= stylesheet_link_tag 'admins', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'include/auth/auth_div' %>
<div class="page">
    <div class="page_container">
        <%=render partial: 'shared/admin_nav' %>
        <div class="contant">
            <div class="good_cont_div">
                <li class="good_container good0">
                    <div class="good_top">
                        <button class="btn show_btn" data-i="0">Create new</button>
                    </div>
                </li>
                <div class="container_form0 good_container" style="display:none">
                    <%= form_with url: "/admin/goods/create", method: :post do |f| %>
                        <%= f.label :storage_image %>
                        <%= f.file_field :storage_image %>
                        <label><b>Name</b></label>
                        <input id="name" name="name" type="text" required>
                        <label><b>Price</b></label>
                        <input id="price" name="price"  type="text" required>
                        <label><b>Weight</b></label>
                        <input id="weight" name="weight" type="text" required>
                        <label><b>Discription</b></label>
                        <textarea id="discription" name="discription" required></textarea>
                        <label for="category"><b>Category</b></label>
                        <select id="category" name="category">
                            <option value="drink">drink</option>
                            <option value="pizza">pizza</option>
                            <option value="burger">burger</option>
                            <option value="cake">cake</option>
                            <option value="sushi">sushi</option>
                        </select>
                        <label for="insale"><b>Status</b></label>
                        <select id="insale" name="insale">
                            <option selected hidden value="true">
                                In sale
                            </option>
                            <option value="true">In sale</option>
                            <option value="false">Not sale</option>
                        </select>
                        </p><button class="end_bar_btn btn" type="submit">Create</button>
                    </form>
                    </p><button class="back_btn btn" data-i="0">X</button>
                    <% end %>
                </div>
            </div>
            <% @good.map do |i| %>
            <div class="good_cont_div good_div<%="#{i.id}"%>">
                <div class="container_form<%="#{i.id}"%> good_container" style="display:none">
                    <form action="/admin/goods/update">
                        <label><b>Name </b></label>
                        <input id="name" name="name" type="text" value=<%="#{i.name}"%> required>
                        <label><b>Price </b></label>
                        <input id="price" name="price"  type="text" value=<%="#{i.price}"%> required>
                        <label><b>Weight</b></label>
                        <input id="weight" name="weight" type="text" value=<%="#{i.weight}"%> required>
                        <label><b>Discription</b></label>
                        <textarea id="discription" name="discription" required><%="#{i.discription}"%></textarea>
                        <label for="category"><b>Category</b></label>
                        <select id="category" name="category">
                        <option selected hidden value="<%="#{i.category}"%>">
                            <%="#{i.category}"%>
                        </option>
                        <option value="drink">drink</option>
                        <option value="pizza">pizza</option>
                        <option value="burger">burger</option>
                        <option value="cake">cake</option>
                        <option value="sushi">sushi</option>
                        </select>
                        <label for="insale"><b>Status</b></label>
                        <select id="insale" name="insale">
                        <option selected hidden value="<%="#{i.insale}"%>">
                            <%="#{i.insale}"%>
                        </option>
                        <option value="true">In sale</option>
                        <option value="false">Not sale</option>
                        </select>
                        <input id="id" name="id" type="hidden" value=<%="#{i.id}"%> required>
                        </p><button class="end_bar_btn btn" type="submit">Update</button>
                    </form>
                    </p><button class="back_btn btn" data-i="<%="#{i.id}"%>">X</button>
                </div>
                    <li class="good_container <%="#{i.category}"%> good<%="#{i.id}"%>">
                        <div class="good_top">
                            <div class="good_contant">
                              <% if i.img != nil %>
                                <%= image_tag(i.img, size: "200", class: "imgG g"+"#{i.id}", data: { i: "#{i.id}"}) %>
                              <% else %>
                                <%= image_tag(i.storage_image, size: "200", class: "imgG g"+"#{i.id}", data: { i: "#{i.id}"}) if i.storage_image.attached?%>
                              <% end %>
                            </div>
                            <div class="good_contant">
                                <span class="discriptionG g<%="#{i.id}"%>" data-i="<%="#{i.id}"%>">
                                    <b>Discription:</b> <%="#{i.discription}"%>
                                </span>
                            </div>
                            <div class="good_contant">
                                <span>
                                    <b>Category:</b> <%="#{i.category}"%>
                                </span>
                            </div>
                            <div class="good_contant">
                                <span>
                                    <b>Status for sale:</b> <%="#{i.insale}"%>
                                </span>
                            </div>
                        </div>
                        <div class="good_bottom">
                            <div class="good_contant">
                                <h3 class="nameG"><%="#{i.name}"%></h3>
                            </div>
                            <div class="good_contant">
                                Price: <span class="priceG"><%="#{i.price}"%></span> $
                            </div>
                            <div class="good_contant">
                                Weight: ~<span class="weightG"><%="#{i.weight}"%></span>
                            </div>
                            <div class="good_contant">
                                <%= link_to "Delete", admin_destroy_path(:id => i.id), class: "btn"%>
                                <button class="btn show_btn" data-i="<%="#{i.id}"%>">Edit</button>
                            </div>
                        </div>
                    </li>
            </div>
            <% end %>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'goods', 'data-turbolinks-track': 'reload' %>
