  <% if user_signed_in? %>
  <div style="margin: 10px">
    <% if current_user.try(:admin) %>
      <%= link_to 'ADMIN PAGE', admin_path, class: 'btn', style: 'text-decoration: none' %>
    <% end %>
    <%= link_to 'INDEX PAGE', root_path, class: 'btn', style: 'text-decoration: none' %>
    <%= link_to 'COOK PAGE', orders_path, class: 'btn', style: 'text-decoration: none'%>
    <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'btn', style: 'text-decoration: none' %>
    <%= link_to 'Edit', edit_user_registration_path, class: 'btn', style: 'text-decoration: none' %>
    </div>
  <% else %>
    <%= link_to 'Enter', new_user_session_path, class: 'info_bar_link', style: 'text-decoration: none' %>
    <!--<%= link_to 'Registration', new_user_registration_path, class: 'btn', style: 'text-decoration: none' %> -->
  <% end %>
